@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


.logo-menu img{
   max-width: 110px;
   height: auto;
}
.navbar{
    margin-bottom: 40px;
 }
 .card{
     margin-bottom: 20px;
  }